{% extends "layouts/base.html" %}

{% block title %} Refferal Program {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Refferal Program</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Refferal Program</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body text-center">
								<i class="fa fa-chart-line text-c-blue d-block f-40"></i>
								<h4 class="m-t-20"><span class="text-c-blue">Base</span> Rewards</h4>
								<p class="m-b-20">Give $20, Get $20: Refer, Earn, Repeat</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body text-center">
								<i class="fa fa-calendar-check text-c-blue d-block f-40"></i>
								<h4 class="m-t-20"><span class="text-c-blue">Seasonal</span> Rewards</h4>
								<p class="m-b-20">Get Reward Cards Through Investing</p>
							</div>
						</div>
					</div>
				<!-- [ sample-page ] end -->
			</div>
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>INVITE NOW</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(12px, 28px, 0px);">
										<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
										<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
										<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p>SHARE CODE
							</p>
							<div class="alert alert-success" role="alert">
								Your Referral Code: KPX61723
							</div>
							<p>
								<ul>Q. Who is considered a qualified referee?
									<br /> A. A new user who registers on KyproX Capital with your referral code, makes a deposit, and meets the min. investment of $500 in KyproX Fund.
								</ul>
								<ul>Q. My referee forgot to use my referral code/link. Can I still receive the rewards?
									<br /> A. Unfortunately, no. The user will not be recognized as your referee.
								</ul>
								<ul>Q. What types of reward cards can I get?
									<br /> A. You are guaranteed to receive a reward when you open a reward card. The rewards include bonuses and coupons in different amounts and unlimited quantities, with the max. being a $500 bonus in USDT.
								</ul>
								<ul>Q. What is KyproX bonus?
									<br /> A. KyproX bonuses can be used to invest in KyproX Fund. Bonuses cannot be withdrawn, while profits from investments with bonuses can be withdrawn. The bonus will be auto credited to your Account immediately once your referee becomes qualified.
								</ul>
							</p>
						</div>
					</div>
				</div>	
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
