{% extends "layouts/base.html" %}

{% block title %} Rewards Hub {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Rewards Hub</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Refferal Program</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12 col-md-4">
					<h5>New Trades</h5>
					<hr>
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">$5 Bonus</h5>
							<p class="card-text">Total investment volume ≥ $100</p>
							<a href="invest.html" class="btn  btn-primary">Invest now</a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<h5>Staking</h5>
					<hr>
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">100% APY</h5>
							<p class="card-text">Staking KyproX Token</p>
							<a href="staking.html" class="btn  btn-primary">Stake now</a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<h5>Referral Program</h5>
					<hr>
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">$500 Bonus</h5>
							<p class="card-text">For each qualified referral, you and your friend will each receive an extra $20 bonus. Additionally, you also have a chance to win reward cards of up to $500!</p>
							<a href="refferal.html" class="btn  btn-primary">Invite Now</a>
						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
